@font-face {
  font-family: 'Ponomar';
  src: url('assets/fonts/Ponomar-Regular.ttf') format('truetype');
}

#root {
  max-width: 1280px;
  text-align: center;
  scroll-behavior: smooth;
}



.container {
  & h1 {
    font-family: "Ponomar", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
}


.card{
  width: 100vw;
  height: 100vh;
  background-color: #3e3e3e;
  border-radius: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-about {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  border-radius: 0 0 50px 50px;
}

.card-descricao {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  border-radius: 0 0 50px 50px;
}

.card-contato {
  width: 100vw;
  height: 75vh;
  background-color: #134967;
}

body{
  margin: 0;
}

p{
  font-weight: 400;
  font-style: normal;
}

h1{
  font-weight: 500;
}

.img {
  padding: 25px;
}


@media (max-width: 750px) {
  .card-about div{
    flex-direction: column;
    margin: 30px;
  }

  .card-about img{
    width: 250px;
  }

  .card-about-container {
    width: 95% !important;
    & p {
      font-size: 15px !important;
    }
  }

  .card-contato{
    height: 100vh;
  }

  .card-contato div:first-child{
    width: 350px;
  }

  .container{
    width: 100% !important;
  }

  .form{
    width: 300px !important;
  }
  h1{
    font-size: 15px !important;
  }
  p{
    font-size: 12px !important;
  }
  .card h1{
    font-size: 30px !important;
  }
  .card p{
    font-size: 18px !important;
  }
}

@media (max-width: 1870px) {
  .card-descricao div{
    flex-direction: column;
    justify-content: center !important;

    & img{
      width: 250px;
    }

  }
  .card-descricao-container div{
    width: 180% !important;

    & img{
      width: 100%;
    }
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes bounce-fade {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Começa um pouco abaixo */
  }
  50% {
    opacity: 1;
    transform: translateY(0); /* Volta para a posição original */
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Sobe e desaparece */
  }
}

span {
  animation: bounce-fade 5s ease-in-out infinite;
}



